{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top: 100px;">
        <div class="container">
            {% if doctor %}
                <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Title" required>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Summary</label>
                        <input type="text" class="form-control" id="summary" name="summary" aria-describedby="emailHelp" placeholder="Summary" required>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Content</label>
                        <input type="text" class="form-control" id="content" name="content" aria-describedby="emailHelp" placeholder="Content" required>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">Upload Image</label>
                        <input class="form-control" type="file" id="image" name="image" required>
                      </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category </label>
                        <input class="form-control" type="text" id="category" name="category" required>
                      
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">
                            Select mode :
                        </label>
                        <select class="form-select" aria-label="Default select example" id="draft" name="draft" required>
                            <option value="Draft" selected>Draft</option>
                            <option value="Upload">Upload</option>
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">Add</button>
                </form>
                <div class="container" style="display: flex;">
                    {% for author_blog in author_blogs %}
                        {% if author_blog.is_visible %}
                        {% else %}
                            <div class="card" style="width: 18rem;margin:20px">
                                <img class="card-img-top" src="{{author_blog.image.url}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{author_blog.title}}</h5>
                                <p class="card-text">{{author_blog.summary}}</p>
                                <p class="card-text">{{author_blog.content}}</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Category : {{author_blog.category.name}}</p>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'upload' author_blog.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit">Upload</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        
                    {% endfor %}
                </div>
                <div class="container" style="display: flex;">
                    <h3>My appointments : </h3>
                    {% for appointment in appointments %}
                    <div class="card" style="width: 18rem;margin:20px">
                        <div class="card-body">
                          <h5 class="card-title">{{appointment.doctor.first_name}}</h5>
                          <p class="card-text">Date : {{appointment.date}}</p>
                          <p class="card-text">Start time : {{appointment.start_time}}</p>
                          <p class="card-text">End time : {{appointment.end_time}}</p>
                          {% if appointment.is_pending %}
                          <p class="card-text">Status : Pending</p>
                          <a href="{% url 'approve' appointment.id %}" class="btn btn-primary">Approve</a>
                          {% else %}
                          <p class="card-text">Status : Approved</p>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                </div>
            {% else %}
            <div class="container" style="display:flex !important">
                <h3>Doctors : </h3>
                {% for doct in doctors %}
                <div class="card" style="width: 18rem;margin:20px">
                    <img class="card-img-top" src="{{doct.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{doct.user.first_name}}</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <a href="{% url 'apply' doct.user.id %}" class="btn btn-primary">Book appointment</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
            <div class="container">
                <h3>My appointments : </h3>
                {% for appointment in appointments %}
                <div class="card" style="width: 18rem;margin:20px">
                    <div class="card-body">
                      <h5 class="card-title">{{appointment.doctor.first_name}}</h5>
                      <p class="card-text">Date : {{appointment.date}}</p>
                      <p class="card-text">Start time : {{appointment.start_time}}</p>
                      <p class="card-text">End time : {{appointment.end_time}}</p>
                      {% if appointment.is_pending %}
                      <p class="card-text">Status : Pending</p>
                      {% else %}
                      <p class="card-text">Status : Approved</p>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="container" style="display: flex;">
            {% for blog in blogs %}
                {% if blog.is_visible %}
                    <div class="card" style="width: 18rem;margin:20px">
                        <img class="card-img-top" src="{{blog.image.url}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{blog.title}}</h5>
                        <p class="card-text">{{blog.summary}}</p>
                        <p class="card-text">{{blog.content}}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Category : {{blog.category.name}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}